<?xml version='1.0' encoding='utf-8'?>
<widget id="com.passages.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Passages</name>
    <description>
        The best app around for learning passages of the Bible.
    </description>
    <author email="jleineweber@gmail.com" href="http://passages.io">
        Joel and Dan
    </author>
    <content src="index.html" />
    <access origin="https://bibles.org" />
    <access origin="https://ajax.googleapis.com" />
    <access origin="http://ajax.googleapis.com" />
    <access origin="http://fonts.googleapis.com" />
    <access origin="http://fonts.gstatic.com" />
</widget>
